body {
  --git-graph-color0: #0085d9;
  --git-graph-color1: #d9008f;
  --git-graph-color2: #00d90a;
  --git-graph-color3: #d98500;
  --git-graph-color4: #a300d9;
  --git-graph-color5: #ff0000;
  --git-graph-color6: #00d9cc;
  --git-graph-color7: #e138e8;
  --git-graph-color8: #85d900;
  --git-graph-color9: #dc5b23;
  --git-graph-color10: #6f24d6;
  --git-graph-color11: #ffcc00;
  --base-background:  #fefefe;
  --base-foreground: #09090a;
  --base-shadow: rgba(0, 0, 0, 0.36);
  --base-textLink-foreground: #61afef;
  --base-textLink-activeForeground: #3794ff;
  --base-focusBorder: #3e4452;
  --base-gitDecoration-deletedResourceForeground: #c74e39;
  --base-gitDecoration-addedResourceForeground: #81b88b;
}


[data-color="0"] {
  --git-graph-color: var(--git-graph-color0);
}

[data-color="1"] {
  --git-graph-color: var(--git-graph-color1);
}

[data-color="2"] {
  --git-graph-color: var(--git-graph-color2);
}

[data-color="3"] {
  --git-graph-color: var(--git-graph-color3);
}

[data-color="4"] {
  --git-graph-color: var(--git-graph-color4);
}

[data-color="5"] {
  --git-graph-color: var(--git-graph-color5);
}

[data-color="6"] {
  --git-graph-color: var(--git-graph-color6);
}

[data-color="7"] {
  --git-graph-color: var(--git-graph-color7);
}

[data-color="8"] {
  --git-graph-color: var(--git-graph-color8);
}

[data-color="9"] {
  --git-graph-color: var(--git-graph-color9);
}

[data-color="10"] {
  --git-graph-color: var(--git-graph-color10);
}

[data-color="11"] {
  --git-graph-color: var(--git-graph-color11);
}